<a href="#">Back To Main</a>


<h3 class="shopingcartheader" ng-hide="shoppingcart.length"> Your cart is empty</h3>

<!------------------Shopping Cart ----------------->

<div id="theshoppingcart" ng-hide="!shoppingcart.length">

<h3 class="shopingcartheader"> Shopping Cart</h3>

<table ng-hide="!shoppingcart.length">
	<tr>
		<th class="long-column">Product</th>
		<th class="short-column">Category</th>
		<th class="short-column">Price</th>
		<th>Quantity</th>
	<tr>
	</tr>
	<tr ng-repeat="item in shoppingcart">
		<td>{{item.product}}</td>
		<td>{{item.category}}</td>
		<td>{{item.price | currency}}</td>
		<td>
			<input type="number" name="quantity" ng-model="item.quantity" min="1" max="99" required>
			<a href="" ng-click="removeFromCart(item)">Remove</a>
			<div role="alert">
			<span class="error" ng-show="quantity.$error.required">Required!</span>
			<span class="error" ng-show="quantity.$error.number">Not a valid Number!</span>
			</div>
		</td>
	</tr>	
</tr>

</table>
<button id="updatecart" ng-click="updateCart()">Update</button>
<span class="messagetext">{{updatemessage}}</span><br>


<br><a href="#/checkout">Checkout </a>

</div>

